In [1]:
#!pip install sentence-transformers
#!pip install --upgrade numpy
#!pip install pytorch
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer

c:\Users\oskar\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [93]:
def embed(data):
        embeddings = model.encode(data, show_progress_bar= True)
        np.save('embeddings.npy', embeddings)
        return embeddings

In [4]:
#%pip install bertopic
#from autonotebook import tqdm as notebook_tqdm
from bertopic import BERTopic
#from NLP_ClusterProject.ipynb import nlp

In [72]:
df = pd.read_csv(r'master.csv')     
model = SentenceTransformer('distilbert-base-nli-mean-tokens')
topic_model = BERTopic(top_n_words= 50)
    
topic, probs = topic_model.fit_transform(df['Clean_Abstract'])

In [73]:
df2 = pd.DataFrame({'docs' : df['Clean_Abstract'], 'topics' : topic})

In [74]:
topic_model.get_topic_info()

     Topic  Count                                           Name
0       -1   5634             -1_climate_adaptation_change_water
1        0    419                       0_coastal_sea_rise_coast
2        1    220                 1_health_disease_public_dengue
3        2    218   2_change_adaptation_individual_communication
4        3    200           3_energy_emission_carbon_electricity
..     ...    ...                                            ...
117    116     11       116_farming_ifs_agricultural_agriculture
118    117     11  117_visualization_audience_comprehension_tool
119    118     11            118_retreat_managed_relocation_case
120    119     11             119_sport_football_athlete_stadium
121    120     10                120_urban_planning_city_justice

[122 rows x 3 columns]

In [81]:
topic_model.reduce_topics(df['Clean_Abstract'], nr_topics = 10)
topic_model.reduce_outliers(df['Clean_Abstract'],topic)

[44,
 77,
 0,
 2,
 95,
 52,
 0,
 0,
 94,
 6,
 43,
 0,
 27,
 16,
 2,
 0,
 94,
 9,
 0,
 2,
 9,
 0,
 27,
 0,
 10,
 0,
 0,
 0,
 20,
 15,
 0,
 0,
 0,
 0,
 0,
 0,
 117,
 0,
 0,
 0,
 12,
 0,
 13,
 70,
 0,
 0,
 0,
 0,
 10,
 56,
 0,
 8,
 0,
 13,
 0,
 0,
 9,
 0,
 0,
 8,
 2,
 0,
 0,
 0,
 0,
 77,
 0,
 0,
 64,
 84,
 0,
 17,
 0,
 82,
 0,
 8,
 31,
 10,
 2,
 2,
 29,
 13,
 1,
 0,
 0,
 0,
 27,
 0,
 77,
 12,
 0,
 60,
 19,
 52,
 0,
 0,
 0,
 0,
 2,
 0,
 36,
 0,
 0,
 0,
 0,
 81,
 1,
 0,
 0,
 4,
 0,
 0,
 60,
 0,
 0,
 0,
 0,
 0,
 13,
 0,
 0,
 0,
 0,
 0,
 2,
 51,
 0,
 0,
 0,
 0,
 30,
 0,
 70,
 0,
 0,
 0,
 0,
 0,
 6,
 0,
 22,
 93,
 40,
 7,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 26,
 31,
 0,
 27,
 2,
 15,
 21,
 3,
 108,
 41,
 0,
 0,
 0,
 10,
 0,
 46,
 32,
 0,
 9,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 91,
 0,
 25,
 7,
 4,
 0,
 0,
 106,
 10,
 22,
 0,
 0,
 0,
 0,
 22,
 7,
 0,
 8,
 0,
 0,
 98,
 1,
 0,
 7,
 91,
 0,
 44,
 0,
 0,
 36,
 0,
 0,
 0,
 0,
 27,
 30,
 0,
 33,
 0,
 0,
 31,
 0,
 106,
 0,
 46,
 0,
 0,
 18,
 0,
 0,
 0,
 0,
 30,
 15,
 0,
 7,
 17,
 9,
 71,
 36,
 107,
 0,
 0,
 36,
 108,
 0,
 0,
 0,
 0,
 36,
 0,
 0,
 65,
 82,
 0,
 16,
 15,
 0,
 0,
 0,
 12,
 9,
 2,
 0,
 1,
 0,
 0,
 15,
 64,
 0,
 60,
 0,
 0,
 1,
 108,
 0,
 17,
 0,
 0,
 0,
 0,
 120,
 0,
 27,
 107,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 17,
 0,
 12,
 0,
 7,
 18,
 0,
 0,
 17,
 27,
 31,
 1,
 0,
 0,
 0,
 0,
 0,
 60,
 0,
 0,
 0,
 9,
 0,
 0,
 0,
 2,
 81,
 0,
 0,
 0,
 12,
 98,
 0,
 112,
 7,
 0,
 13,
 0,
 0,
 0,
 0,
 0,
 44,
 5,
 0,
 7,
 0,
 2,
 8,
 6,
 0,
 8,
 0,
 9,
 0,
 8,
 0,
 34,
 1,
 112,
 51,
 0,
 17,
 9,
 0,
 0,
 0,
 63,
 0,
 0,
 77,
 0,
 0,
 0,
 3,
 2,
 58,
 0,
 0,
 0,
 17,
 0,
 0,
 0,
 0,
 19,
 16,
 0,
 0,
 0,
 58,
 0,
 81,
 0,
 0,
 0,
 0,
 17,
 0,
 0,
 0,
 0,
 107,
 4,
 0,
 0,
 14,
 0,
 0,
 17,
 0,
 0,
 0,
 4,
 0,
 0,
 30,
 7,
 7,
 0,
 0,
 0,
 0,
 31,
 0,
 0,
 7,
 1,
 8,
 17,
 17,
 0,
 0,
 0,
 7,
 17,
 19,
 26,
 0,
 12,
 0,
 70,
 0,
 0,
 0,
 0,
 0,
 17,
 8,
 8,
 15,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 35,
 0,
 0,
 9,
 0,
 0,
 4,
 84,
 81,
 41,
 0,
 22,
 0,
 9,
 15,
 10,
 1,
 0,
 0,
 3,
 0,
 9,
 1,
 82,
 17,
 17,
 78,
 0,
 0,
 36,
 0,
 108,
 0,
 1,
 2,
 0,
 0,
 30,
 0,
 30,
 27,
 73,
 82,
 10,
 0,
 13,
 33,
 0,
 0,
 0,
 18,
 0,
 0,
 0,
 0,
 9,
 0,
 0,
 78,
 8,
 55,
 0,
 0,
 0,
 6,
 0,
 112,
 0,
 0,
 0,
 0,
 5,
 9,
 0,
 2,
 7,
 0,
 73,
 0,
 0,
 7,
 0,
 0,
 73,
 0,
 0,
 0,
 0,
 8,
 0,
 0,
 17,
 0,
 73,
 2,
 77,
 0,
 39,
 69,
 0,
 75,
 8,
 0,
 10,
 36,
 12,
 0,
 0,
 0,
 0,
 0,
 19,
 22,
 9,
 0,
 51,
 0,
 13,
 9,
 73,
 70,
 0,
 0,
 0,
 65,
 15,
 0,
 0,
 8,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 22,
 0,
 9,
 7,
 0,
 0,
 9,
 0,
 0,
 2,
 41,
 0,
 0,
 0,
 0,
 69,
 26,
 0,
 91,
 17,
 27,
 0,
 0,
 7,
 0,
 115,
 0,
 4,
 9,
 0,
 34,
 0,
 17,
 0,
 60,
 0,
 0,
 1,
 0,
 0,
 0,
 7,
 31,
 8,
 94,
 31,
 10,
 0,
 94,
 0,
 1,
 55,
 16,
 0,
 0,
 30,
 41,
 0,
 6,
 0,
 0,
 0,
 0,
 0,
 9,
 0,
 17,
 0,
 0,
 1,
 0,
 17,
 0,
 0,
 2,
 7,
 2,
 4,
 0,
 25,
 0,
 0,
 13,
 29,
 0,
 12,
 0,
 47,
 84,
 0,
 0,
 50,
 0,
 4,
 41,
 95,
 17,
 0,
 12,
 0,
 41,
 0,
 0,
 0,
 36,
 0,
 36,
 120,
 2,
 0,
 9,
 0,
 30,
 0,
 13,
 52,
 58,
 39,
 1,
 1,
 0,
 15,
 24,
 8,
 0,
 0,
 4,
 22,
 0,
 44,
 0,
 40,
 22,
 0,
 76,
 0,
 0,
 2,
 0,
 9,
 0,
 0,
 93,
 0,
 7,
 70,
 0,
 83,
 0,
 0,
 0,
 0,
 10,
 0,
 77,
 44,
 60,
 0,
 17,
 4,
 1,
 0,
 0,
 0,
 0,
 0,
 82,
 0,
 0,
 0,
 8,
 0,
 2,
 0,
 33,
 0,
 34,
 1,
 36,
 0,
 0,
 3,
 2,
 37,
 0,
 0,
 0,
 0,
 16,
 64,
 0,
 22,
 0,
 0,
 0,
 0,
 18,
 45,
 56,
 40,
 0,
 0,
 0,
 2,
 0,
 0,
 6,
 3,
 0,
 70,
 0,
 0,
 118,
 0,
 0,
 0,
 0,
 0,
 46,
 1,
 31,
 17,
 0,
 8,
 7,
 0,
 0,
 0,
 0,
 55,
 0,
 15,
 0,
 22,
 0,
 0,
 34,
 4,
 0,
 0,
 2,
 0,
 0,
 12,
 7,
 46,
 0,
 1,
 2,
 0,
 0,
 84,
 0,
 0,
 0,
 2,
 0,
 0,
 94,
 71,
 0,
 26,
 70,
 2,
 18,
 1,
 19,
 0,
 6,
 2,
 86,
 1,
 27,
 15,
 0,
 35,
 0,
 78,
 8,
 7,
 20,
 94,
 22,
 41,
 17,
 9,
 22,
 41,
 10,
 0,
 17,
 0,
 0,
 112,
 10,
 0,
 10,
 0,
 15,
 22,
 0,
 34,
 0,
 0,
 0,
 20,
 0,
 0,
 71,
 13,
 3,
 0,
 8,
 43,
 0,
 12,
 8,
 7,
 3,
 18,
 0,
 0,
 31,
 0,
 17,
 0,
 17,
 55,
 40,
 4,
 0,
 22,
 15,
 0,
 107,
 0,
 0,
 10,
 0,
 0,
 0,
 0,
 0,
 13,
 24,
 73,
 0,
 0,
 77,
 3,
 0,
 36,
 91,
 96,
 0,
 50,
 65,
 0,
 0,
 9,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 51,
 27,
 0,
 22,
 4,
 52,
 0,
 41,
 7,
 0,
 4,
 0,
 1,
 0,
 0,
 17,
 31,
 6,
 0,
 9,
 0,
 0,
 27,
 17,
 88,
 71,
 0,
 0,
 0,
 73,
 8,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 71,
 26,
 2,
 12,
 55,
 91,
 0,
 ...]

In [82]:
topic_model.get_topic_info()

   Topic  Count                                       Name
0     -1   5634         -1_climate_change_adaptation_study
1      0   5408          0_climate_change_adaptation_study
2      1    198         1_tourism_migration_climate_change
3      2    173       2_fishery_change_climate_aquaculture
4      3    148              3_gender_woman_climate_change
5      4     58             4_wine_grape_cultivar_vineyard
6      5     52             5_fire_wildfire_forest_climate
7      6     31  6_pastoralists_herder_livelihood_pastoral
8      7     13            7_pavement_asphalt_climate_road
9      8     11           8_sport_football_climate_athlete

In [83]:
topic_model.get_topic(0)

[('climate', 0.04087955240044188),
 ('change', 0.035751805839839945),
 ('adaptation', 0.030974567259286476),
 ('study', 0.01760002864544071),
 ('risk', 0.015869183804618287),
 ('impact', 0.015320123793853401),
 ('policy', 0.014868972297722707),
 ('model', 0.013360828550866625),
 ('level', 0.012913612759593825),
 ('water', 0.012766551407752234),
 ('result', 0.012663339903962545),
 ('we', 0.01247547488500575),
 ('management', 0.012250796089497364),
 ('based', 0.011673540089778799),
 ('future', 0.011628098254099169),
 ('strategy', 0.011624821493509704),
 ('in', 0.011454960585377864),
 ('urban', 0.01138001655582993),
 ('community', 0.011372878135127145),
 ('local', 0.011299135566468645),
 ('area', 0.011265048525883586),
 ('research', 0.011207492043928784),
 ('coastal', 0.011132279189753099),
 ('approach', 0.010993531091432165),
 ('system', 0.010791453239709134),
 ('health', 0.010644107828594582),
 ('paper', 0.01030953023773499),
 ('effect', 0.01018600693210074),
 ('development', 0.01007738865533647),
 ('analysis', 0.01007723913122348),
 ('data', 0.009667600705634312),
 ('planning', 0.009556715803678048),
 ('using', 0.009384467447164571),
 ('temperature', 0.009381338350825535),
 ('region', 0.0091969098861265),
 ('also', 0.00903510365484807),
 ('increase', 0.008880430041133371),
 ('knowledge', 0.008754050165590426),
 ('vulnerability', 0.008749011692637611),
 ('different', 0.008616304860904936),
 ('need', 0.008564038533288928),
 ('process', 0.008369117692615493),
 ('use', 0.008354142694386668),
 ('city', 0.008308224389115803),
 ('used', 0.008268518532798181),
 ('global', 0.008250172808669054),
 ('however', 0.008144770306394171),
 ('potential', 0.008142069354958365),
 ('social', 0.008115315793115021),
 ('measure', 0.00800710393450075)]